body {
  background-color: rebeccapurple;
}

#blurb1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aqua;
  font-weight: bold;
  line-height: 2;
}

#blurb2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  font-weight: lighter;
  line-height: 1;
}

#blurb3{
  font-family: monospace;
  color: tomato;
  font-weight: bold;
  line-height: .5;
}
